@import url("https://fonts.googleapis.com/css?family=Sunflower:300&display=swap");

.green {
  background: #bdb246;
  border-radius: 20px;

  font-family: Sunflower;
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
  line-height: 22px;

  color: #592e29;
  text-transform: uppercase;

  width: 295px;
  height: 64px;
}

.brown {
  background: #8a6552;
  border-radius: 20px;

  font-family: Sunflower;
  font-style: normal;
<<<<<<< HEAD
  font-weight: bolder;
  font-size: 18px;
  line-height: 22px;

  color: #bdb246;
  text-transform: uppercase;

  width: 295px;
  height: 64px;
}

.darkbrown {
  background: #592E29;
  border-radius: 20px;

  font-family: Sunflower;
  font-style: normal;
  font-weight: bolder;
=======
  font-weight: bold;
>>>>>>> ac5c7cf6e5c6ff150597ec7779672a11f386fdab
  font-size: 18px;
  line-height: 22px;

  color: #bdb246;
  text-transform: uppercase;

  width: 295px;
  height: 64px;
}
